[2019-10-07 12:46] marcuspoehls opened #3 "Allow the pool to "failLoud" on error"
Currently, the promise pool run the given callback on each item. Even though an error happens during the processing. The pool won't fail on errors and instead collect all errors.

This PR should add an option to let the pool fail loud instead of being silent on errors.

**Expected API**

[code]

[2019-10-07 13:56] Fly-Style commented on #3
I'd like to pick this issue.

[2019-10-07 14:19] marcuspoehls commented on #3
@Fly-Style Sure! Thank you

[2019-10-09 05:11] Fly-Style commented on #3
@marcuspoehls FYI : I am working on another PR now. But when I will end it, work on this issue will be started.

[2019-10-09 07:31] marcuspoehls commented on #3
@Fly-Style Hey Alex, thank you for the update :+1:

[2019-10-15 07:50] marcuspoehls commented on #3
@Fly-Style Hi Alex, can I help you with the task? Anything I should describe or explain in more detail? Just let me know if you want help, I'm happy to help

[2019-10-16 13:49] Fly-Style commented on #3
@marcuspoehls hi, Marcus. I will start it today.
Could you please describe method behaviour in more detail? :)

[2019-10-17 09:11] marcuspoehls commented on #3
@marcuspoehls Nice!

My idea was to add a `.failLoud()` method that configures the promise-pool the throw an error as soon as it occurs. At this point, the library collects all errors and processes every item.

In the last days, I was thinking through this approach and decided to change direction. I'd like to introduce a breaking change and throw errors instead of collecting them.

If you're still

[2019-10-20 17:34] Fly-Style commented on #3
@marcuspoehls I am still on board; I had big release on my current job this week.
I start to implement it.

[2019-10-20 17:38] marcuspoehls commented on #3
@Fly-Style Great, thank you!

[2019-11-08 12:45] marcuspoehls commented on #3
@Fly-Style Hey Alex, can you please share your status? Can I help you with this feature? Should I share more specific ideas for the implementation?

Just wanted to reach out in case you need help

[2020-07-02 19:39] txau commented on #3
@marcuspoehls @Fly-Style It would be great if the behavior regarding exceptions could be controlled externally. In my particular use case I'd like to only halt the whole process depending on the type of error.

[2020-07-03 05:54] marcuspoehls commented on #3
@txau Hey Jaume, thank you for your feedback. I like the idea of an improved error handling using conditional catching/throwing. I’ll think about this over the weekend.

@txau I have a question related to your promise pool usage: do you handle errors in case they appear or do you ignore them at this point?

[2020-07-03 12:22] txau commented on #3
@marcuspoehls we are using promise-pool to bulk index entities in elastic search in this project: https://github.com/huridocs/uwazi

Before implementing promise-pool, we were collecting the non-critical exceptions and reporting at the end of the reindex. For critical errors, we would halt the process and report immediately. Now with promise-pool we just collect the errors and report them at the en

[2020-07-04 17:17] marcuspoehls commented on #3
@txau yep, very helpful! Thank you

[2020-07-06 14:37] marcuspoehls commented on #3
@txau Hey Jaume, I’m planning a new major release of the promise pool library changing the default behavior of collecting all errors to throwing immediately on error. As a user of the package, you’re able to intercept the error handling.

Here’s how the new functionality may look like (depending on your feedback 😃 )

[code]

What do you think about the `onError` callback to customize the error han

[2020-07-06 16:51] RafaPolit commented on #3
@marcuspoehls thanks for this effort and tool.  I'm working with @txau on the Uwazi project, so I'd thought I'd chime in with some questions.

Would this onError hook, upon `return` (instead of throw), allow the process to continue where it stopped?

Let me elaborate on our scenario, to see if this brings any light.  Lets say we want to run 3 batches or 3 documents to get indexed in ElasticSearch.

[2020-07-06 16:52] RafaPolit commented on #3
Regarding async: as of now, I think we could do without it, but I don't see some scenarios where it would be interesting.  Perhaps there is little impact in terms of performance to implement it with async from the start?  Not sure.

[2020-07-07 05:27] marcuspoehls commented on #3
@RafaPolit Hey Rafael, thank you for your extensive descriptions and questions. Good points!

- **Question:** Would this onError hook, upon return (instead of throw), allow the process to continue where it stopped?
- **Answer:** Yes. The `onError` hook is a way to handle error “in your way”. In the current `1.x` release line, the library collects all errors while processing the items. You need to

[2020-07-07 08:46] marcuspoehls commented on #3
@txau @RafaPolit I was thinking through the proposed `onError` hook over the last hours. I feel like it’s not there yet. There’s something missing. I actually like the collected errors being in the package. Handing over the error collecting process to the package user feels wrong. I’m referencing the "v2" code snippet from the comment above.

Another idea I was debating is the original `failLoud()

[2020-09-16 12:35] wzhkobe2408 opened #18 "If the async task throw undefined, the error collection will fail"
The code below excute async task that will reject with nothing.

Therefore the `startProcessing` function will fail at `new PromisePoolError(error.message, item)`.

I know this is not common in real world, but it's it nessary to improve robustness ?

[code]

[2020-09-16 15:05] marcuspoehls commented on #18
@wzhkobe2408 good catch! Thank you for reporting this.

I'l need to run your sample code to see the result. Do you want to send a pull request improving the handling?

[2020-09-17 03:42] wzhkobe2408 commented on #18
@marcuspoehls  Yes I do. I will lauch a pr later 😊

[2020-09-17 03:46] wzhkobe2408 commented on #18
@marcuspoehls    pr link: https://github.com/supercharge/promise-pool/pull/19

[2020-09-17 09:51] #18 closed

[2020-09-17 10:09] marcuspoehls commented on #18
I just tagged and published version `1.4.0` to NPM. Thank you for your work!

[2020-09-20 03:51] calvinwyoung opened #20 "Unintuitive result with 1.4.0 types"
Hi there, thanks for putting this library together — it's a great lightweight solution to a common problem. I just played around with the latest 1.4.0 release, and noticed something somewhat unintuitive. Suppose I have the following snippet:

[code]

I would expect `results` to be typed as `number[]`, it's getting typed as `Promise<number>[]` instead. Is this expected, or have I done something wro

[2020-09-20 11:13] marcuspoehls commented on #20
@calvinwyoung Hey Calvin, thank you for your kind words.

You’re right, the resulting types seem to be off from the expected results. I’ll have a look at what goes wrong here. If you already looked at the code and found the issue, please open a pull request 😃

[2020-09-20 13:01] marcuspoehls commented on #20
@calvinwyoung I found the issue. Missed the (very likely happening) promise return type on the async processing function. TypeScript then wrongly resolved the types because I said it should resolve it wrong 😄

Bugfix release coming soon

[2020-09-20 13:05] marcuspoehls commented on #20
@calvinwyoung I’ve tagged and released version `1.5.0` to NPM. Thank you for reporting this issue!

[2020-09-20 13:05] #20 closed

[2020-09-20 20:28] calvinwyoung commented on #20
@marcuspoehls Wow thanks for getting that fixed so quickly! I just downloaded the the `1.5.0` release and confirm that fixed this. Thanks so much for the great library!

[2020-09-21 09:26] marcuspoehls commented on #20
@calvinwyoung Sweet! 😃 Thank you!

[2020-09-24 18:25] SimonJang commented on #3
Any update on this issue?

I am mainly using [p-map](https://github.com/sindresorhus/p-map) and [p-settle](https://github.com/sindresorhus/p-settle) at the moment but I like the idea that you can have some kind of error handling while looping and the fluent style of promise-pool.

If you don't have time, I can pickup the issue if you want.

[2020-09-24 19:16] marcuspoehls commented on #3
@SimonJang Hey Simon, I didn't work on this feature over the last couple of weeks.

I'd like to settle on the handling a bit more than my loose thoughts from above 😃

Simon, how would you imagine or like to intercept errors/error handling in the promise pool?

[2020-09-25 12:53] SimonJang commented on #3
Hey @marcuspoehls, thanks for the quick response!

Preferably, I would like to handle the separate errors, like you suggested above:

[code]

This makes it easier to rollback changes, implement custom retry logic, notifying clients on errors, etc. I honestly think that in most cases, you would like some kind of error handling.

Does failing 'loud' mean, that the loop is aborted if you encounter an

[2020-09-28 18:18] marcuspoehls commented on #3
@SimonJang Hey Simon, I agree: at some point most of the promise pool users want some kind of dedicated error handling for their app.

I’m currently thinking through the error handling cases. I’ll share my an overview of my thoughts tomorrow. We can then iterate over all ideas

[2020-09-29 19:09] jitendersaini opened #21 "where is user going after return?"
Hello,
[code]

Please suggest what do I do with the user that is return from the above ? where to catch this? for me if I'm printing results its coming undefined? Can you please post a good example over here.

Thanks
Jitender

[2020-09-29 20:09] marcuspoehls commented on #21
@jitendersaini Hey Jitender, the values returned by the `.process()` method are collected in the `results` property. If your process function doesn't return an item, the results stay empty. If your process function throws an error, it's collected and available in the `errors` property.

Can you please check the errors?

[2020-09-30 06:43] marcuspoehls commented on #3
Here are my thoughts on this feature. They deviate in a sense from the original idea to simply `failLoud`.

## 1. Throw error as soon as it occurs
The idea is to add a `.throwErrors()` method to the promise-pool allowing you to configure the pool to throw errors instead of collecting them. This would align with the current default Node.js error handling. In codebases using async/await it’s common

[2020-10-03 09:07] marcuspoehls commented on #21
Closing this here. Please feel free to reopen this issue or create a new one if you need more information 👍

[2020-10-03 09:07] #21 closed

[2020-10-03 09:44] SimonJang commented on #3
@marcuspoehls Nice to have this discussion going, it was food for thought. These are my thought on your suggestions.

I think this would be a nice addition to the `promise-pool` as it mimics NodeJS default error propagation.

I think this will result in a confusing API (I find it confusing :sweat_smile:). As you have both the errors collected (which might require the same error handling like the `

[2020-10-10 18:51] RafaPolit commented on #3
I honestly like `#3`.  The beauty of it is that I think it allows us to achieve `#1` and `#2` without a lot of difficulty.  And even evolve it to be as complex as you need.  The other two scenarios seem a bit more constraining.  You never know what scenarios people are solving with that.

And it is simple to collect the errors from the hook.  I agree it could be nice to collect them in the package

[2020-10-11 19:55] marcuspoehls commented on #3
Thank you for your feedback. I appreciate you sharing your thoughts. I'm currently on vacation and back at the desk on Oct 19th.

@SimonJang Simon, are you able to prepare a pull request for idea `#3`?

I'm also open to add idea `#1` (throwing in first error instead of collecting it). Let's tackle `#1` in another iteration.

[2020-10-12 06:02] SimonJang commented on #3
@marcuspoehls Ok, I'll have something in PR by the end of the week. Enjoy you vacation!

[2020-10-12 06:45] marcuspoehls commented on #3
@SimonJano Thank you Simon!

[2020-10-14 16:22] SimonJang commented on #3
@marcuspoehls PR is opened, looking forward to the feedback!

[2020-10-28 06:26] #3 closed

[2020-11-03 00:08] richard-lopes-ifood opened #23 "PromisePool doesn't limit parallel requests after an error occurrence"
### Code

[code]

### Expected
Even when a async operation fails, the number of max parallel executions (5) must be respected.

### Observed
![Peek 2020-11-02 21-02](https://user-images.githubusercontent.com/51718857/97932486-e6193b80-1d4e-11eb-8748-b6a6a41575b4.gif)

Observe how the `bulk` request respect the concurrency at first, but then, when the first error occurrs, it calls `process` without

[2020-11-03 06:14] marcuspoehls commented on #23
@richard-lopes-ifood Hey Richard, thank you for the details and gif. These are the details I need to create a failing test making sure we can fix the issue. I'll look into this today.

[2020-11-03 09:50] marcuspoehls commented on #23
@richard-lopes-ifood I found and fixed the issue: a failed task wasn’t removed from the list of active tasks. That’s why they always won the `Promise.race` for the text task to finish. The failed task then failed again and wasn’t removed but created the next free slot. Overall, the pool finished but started all tasks after the first failed task.

Very good catch, thank you for reporting this!

I’m

[2020-11-03 10:01] marcuspoehls commented on #23
Version `1.6.0` is published on NPM 👍

[2020-11-03 10:01] #23 closed

[2020-11-03 10:03] marcuspoehls commented on #3
Version `1.6.0` containing custom error handling is published on NPM 👍

@SimonJang Kudos to you, thank you for the implementation.
@txau @RafaPolit Thank you for sharing your thoughts and ideas.

[2020-12-24 12:23] Christilut opened #24 "Canceling a pool"
I'm running a pool that takes a while, is there any way to cancel it?

I guess I can do a workaround like this:
[code]

But that would still iterate all input elements for nothing.

[2020-12-24 13:16] marcuspoehls commented on #24
@Christilut Hey Christiaan, cancelling a pool is possible with a bit of manual work.

At this point, there’s no method allowing you to manually stop the pool. What you can do as a workaround is throwing a custom error, like `CancelPoolError`. You must throw this error from  the `pool.process()` method. Then, you must rethrow the error within a custom error handler. Thrown errors inside of the `poo

[2020-12-24 14:56] Christilut commented on #24
Thanks for the super quick response :)

I'll use your workaround for now, it does the trick nicely.

[2020-12-25 06:36] marcuspoehls commented on #24
Sweet!

I'll close this issue and open a new one for the "stopping the pool" feature.

[2020-12-25 06:36] #24 closed

[2020-12-25 06:38] marcuspoehls opened #25 "Manually Stop the pool"
This is helpful when processing long running actions, like in #24.

[2020-12-25 09:07] Christilut commented on #24
Awesome! Appreciate the quick and helpful response :)

[2020-12-25 13:27] marcuspoehls commented on #24
@Christilut You’re welcome! :)

[2021-01-13 04:43] bruceCzK opened #26 "Results does not preserve the order of tasks"
In some minor cases, this'll cause some serious problem. I'm suggesting instead of push result to `results` array, use index to set the result and a `null` for the fail task. Here's the proposed changes to `promise-pool-executor.ts`.
[code]

[2021-01-13 07:33] marcuspoehls commented on #26
@bruceCzK Hey Bruce, thank you for suggesting the ordering improvement. I’m open to adding this feature. Do you want to submit a PR?

[2021-01-13 09:33] bruceCzK commented on #26
Oh, I'm not quite familiar with typescript, sorry, I think I'll just pass.

[2021-01-14 05:00] marcuspoehls commented on #26
@bruceCzK Bruce, did you run into the ordering issue? If yes, can you share more details about the requirements to keep the index?

[2021-01-14 14:35] bruceCzK commented on #26
I have a list of URLs to download as HTML (about 100) and a list of their filenames (article titles), the two lists are only bounded with index. I was using this library, but found out that the order did not preseve, the filenames did not match its content.
I have look into the source code yesterday, it seems it requires to change several test cases, which might be too much change to the current f

[2021-01-15 14:37] marcuspoehls commented on #26
@bruceCzK I was thinking about your issue over the last day. I guess you can simply work around this issue by using a single list of objects. And the objects then contain the URL and file name:

[code]

This way you don’t need to sync the results with any of your lists of URLs and files. It can be part of the result.

Is that an option for you?

[2021-01-15 14:42] bruceCzK commented on #26
Yes. This is the workaround I'm using now. Thanks for the advice. I guess we can both agree this is not a neccesary feather for the time being. Thanks again for your quick reply.

[2021-01-15 14:42] #26 closed

[2021-03-24 00:49] kevintechie opened #27 "When using TypeScript, the types related to the .process() function are not correct"
The types of the .process function are not being handled correctly causing compile errors:

[code]

The TypeScript compiler gives the following error:

[code]

[2021-03-24 08:18] marcuspoehls commented on #27
@kevintechie Hey Kevin, thank you for reporting this issue. Do you want to send a PR fixing this?

[2021-03-28 21:29] marcuspoehls commented on #27
Fixed in `1.6.1`.

I just published version `1.6.1` on NPM. Should be available in a second 😃

[2021-03-28 21:29] #27 closed

[2021-04-01 12:43] areindl opened #28 "Handling errors"
Hi guys! Thanks for your work. It really helped me in making my Cloud Functions development more enjoyable.

I have a questions that is not `promise-pool` related but JavaScript oriented. I still hope you can help me with a quick hint as it might be obvious for you and could be helpful as a documentation example 👍

In your example to provided the following:

[code]

I am particularly interested in

[2021-04-04 15:56] marcuspoehls commented on #28
@areindl Hey Anton, good question!

We use a promise pool to process a given number of items concurrently. At the same time, this may also produce a given amount of errors. While using a promise pool in our projects, we have two error handling strategies:

## Error Handling Strategy 1: All or nothing
Sometimes we want all items in the pool to be processed and stored in a database. We typically use

[2021-04-09 12:12] tobiasmuehl opened #29 "10 concurrency limit not working, TypeError"
[code]

[code]

[2021-04-09 13:31] marcuspoehls commented on #29
@tobiasmuehl Good catch! I didn’t notice this while working with the library. Thank you for reporting this!

Do you want to submit a pull request fixing the issue?

[2021-04-09 15:09] marcuspoehls commented on #29
I’ve published version `1.6.2` on NPM. Should fix this issue.

@tobiasmuehl Tobias, please update to `1.6.2`.

[2021-04-09 17:03] rijkvanzanten opened #30 "Browser use causes Critical Dependency Webpack error"
Hi there!

I fully realize that Supercharge is designed and built as a Node framework. That being said, a util like PromisePool is really useful for client-side applications as well.

However, due to the way `@supercharge/goodies` is built, bundling `@supercharge/promise-pool` into a front-end context throws the following warning on builds (with Webpack):

[code]

[2021-04-09 17:07] rijkvanzanten commented on #30
I believe that the warning is caused by the `esmRequire` util added to `goodies` in c20668a37b5d753ea18ea001c10fb6a0ed39a1bf:

https://github.com/supercharge/goodies/blob/4c9d5b21e501aa6e14aa63d483ae694461315c9c/src/index.ts#L130-L140

[2021-04-10 13:34] marcuspoehls commented on #30
@rijkvanzanten Hey Rijk, yeah that’s true. `@supercharge/goodies` is currently built using a class which makes it not tree-shakable.

I’m assuming you’re trying to use this promise pool package in the frontend. Is that true?

We can rewrite this `@supercharge/promise-pool` package to remove the `@supercharge/goodies` dependency. Or another option is to refactor `@supercharge/goodies` to be tree-sh

[2021-04-10 14:20] rijkvanzanten commented on #30
I had a quick peek through the goodies package which made me wonder: is there a need for it to be a class instead of a list of exported functions? I can look into making a start on that refactoring process, but rather not waste any time if there's a hard requirement for it to be this way of course :)

[2021-04-10 14:50] marcuspoehls commented on #30
You’re right: the goodies package can export the available functions. It doesn’t need the class requirement. I started a quick refactoring process and pushed it to the [refactor-to-functions](https://github.com/supercharge/goodies/tree/refactor-to-functions) branch. It’s basically the move to exported functions :)

Tests are yet failing due to a peer dependency for the standard linting. I’ll proba

[2021-04-11 09:52] #29 closed

[2021-04-11 09:53] marcuspoehls commented on #28
@areindl Anton, I assume my answer is OK for you. Closing this issue here. Please re-open or reach out again if you need any help 😃

[2021-04-11 09:53] #28 closed

[2021-04-14 16:19] rijkvanzanten commented on #30
Loooooooking good! ❤️

[2021-04-14 16:19] #30 closed

[2021-04-14 16:30] marcuspoehls commented on #30
Awesome 🙌

[2021-04-19 15:30] areindl commented on #28
Hi @marcuspoehls!

Sorry for my late response. I was caught up in another topics. Your approach totally makes sense.

I applied it today and it looks much cleaner.

Thanks a lot!

PS: Nice podcast ;-)

[2021-04-20 19:03] marcuspoehls commented on #28
@areindl Hey Anton, that’s great! I’m happy you’re able to apply ideas in your code. And thank you for the note on the podcast 😍

[2021-05-31 04:36] glensc opened #31 "Add example of async generator"
How to use this with code that uses async generator:
- https://github.com/glensc/comics-downloader/blob/0.2.2/src/Command/DownloadCommand.ts#L20

the code that is slow there are is that downloads parts:
- https://github.com/glensc/comics-downloader/blob/0.2.2/src/Command/DownloadCommand.ts#L27
- https://github.com/glensc/comics-downloader/blob/0.2.2/src/Command/DownloadCommand.ts#L43
    - https:/

[2021-05-31 08:57] marcuspoehls commented on #31
Hey Elan, as a heads up: I’m not using generators in my code. Yet, I have a suggestion how you may benefit from the promise pool.

I scanned your code and you’re retrieving the attachments which is an async generator function. The generator function yields an export for individual messages. What you may do is refactoring your message handling code to process messages in the promise pool. With `fin

[2021-05-31 11:02] glensc commented on #31
@marcuspoehls it definitely helps to get some feedback.

that would solve half of the problem, getting feed for `getAttachments()`, but there's another point that needs to be parallelized, the actual download in `execute` needs parallelizing as well. i.e the file exists check there can skip the `getData()` call, so doing it all in `process` would be a waste (as data might now be used).

I will lik

[2021-05-31 11:58] marcuspoehls commented on #31
@glensc thank you for the details. I guess you’ll then not use this library. Closing this here. Please feel free to re-open if I got you wrong

[2021-05-31 11:58] #31 closed

[2021-07-21 19:09] numfin opened #32 "promise pool is not working for all elements"
Screenshot says all

![image](https://user-images.githubusercontent.com/8134947/126545832-340f4c8f-13be-468a-946f-40a3f9272f04.png)

[2021-07-21 19:27] numfin commented on #32
https://github.com/nodejs/node/issues/22088

[2021-07-21 19:38] #32 closed

[2021-07-21 19:39] numfin commented on #32
Problem was that i didnt execute function inside promise and started blaming everyone except myself. Sorry for interruption

[2021-07-22 05:14] marcuspoehls commented on #32
No worries! It’s great you found the issue 👍

[2021-07-24 10:17] Azrideus opened #33 "need onProgress(completedTasks)"
we need a onProgress callback to see how many promises are fulfilled, useful for making progressbars

[code]

[2021-07-24 11:51] marcuspoehls commented on #33
@Azrideus Sounds good, I like the idea! Do you want to submit a pull request?

[2021-07-31 15:54] Azrideus commented on #33
Hello I made a PR, please check it

[2021-07-31 15:54] #33 closed

[2021-09-23 16:09] WildEgo opened #35 "Obtain current iteration on pool"
Hey guys!

Amazing library, just started playing with it and was wondering if there's any way to get the current iteration for said pool kinda like a foreach, example of what it'd look like below.

[code]

It would be amazingly useful for me with what I'm doing in the backend.

Thanks in advance,
Luis Bizarro

[2021-09-23 16:16] marcuspoehls commented on #35
Hey Luis,

thank you for reaching out! I like your idea of adding the current iteration like an index in a forEach loop.

Currently we're only passing the item to the process callback. I assume we can add the iteration index without a breaking change 😃

Do you want to submit a pull request for that feature?

[2021-09-23 17:00] WildEgo commented on #35
Should be done at #36 !

Thank you

[2021-09-24 09:47] marcuspoehls commented on #35
This feature is part of release `1.8.0` and published on NPM 🤝
Thank you Luis!

[2021-09-24 09:47] #35 closed

[2021-11-02 09:13] #25 closed

[2021-11-09 08:28] amitlevy21 opened #38 "This module can only be referenced with ECMAScript imports/exports by turning on the 'esModuleInterop' flag and referencing its default export"
Hi,

I want to remove the `esModuleInterop` flag from my projects `tsconfig.json`.

However, I'm using this awesome library and It's the only dependency I can't seem to find a way around it.

Is there a way to use promise-pool without having `esModuleInterop` flag?

tried:
[code]

I Get the compilation error with each

Thank you!

[2021-11-09 08:49] marcuspoehls commented on #38
@amitlevy21 Hey Amit, thank you for reporting this.

I can reproduce your issue in a simple TypeScript project that doesn’t use the `esModuleInterop` flag. Looks like the package exports from `@supercharge/promise-pool` don’t support proper imports in TypeScript. I’ll think about a solution and probably fix it later today.

I appreciate a pull request if you know a way to resolve this issue. My fe

[2021-11-09 09:03] amitlevy21 commented on #38
@marcuspoehls Hey Marcus, appreciate the quick response!

I'd love to help, from my understanding, we just need to change https://github.com/supercharge/promise-pool/blob/main/src/index.ts#L5

I'll take a look soon and share a PR

[2021-11-09 09:04] marcuspoehls commented on #38
@amitlevy21 Thank you!

[2021-11-09 12:25] #38 closed

[2021-11-09 12:56] marcuspoehls commented on #38
I just published version `2.0.0` to NPM 😃

Thank you again @amitlevy21 for your help fixing this TypeScript importing issue when not using the `esModuleInterop` flag 🤝

[2021-12-08 21:15] CoffeeFlux opened #40 "Preserving the original errors"
Hi! Really appreciate your work on PromisePool.

Is there any way to preserve the original error being thrown from within the PromisePool? Right now it just gets stringified and recreated as a PromisePoolError, which strips away a lot of useful contextual information.

[2021-12-09 09:40] marcuspoehls commented on #40
@CoffeeFlux Hey Ryan, you’re right. At this point the original error gets wrapped and all context is gone. We should improve this handling.

My idea by wrapping the original error was to also assign the item that caused the error. What do you think about extending the `PromisePoolError` class to expose an `error.raw` property containing the original error? This is in alignment with `error.item` co

[2021-12-09 15:26] CoffeeFlux commented on #40
That sounds great to me - would definitely solve my use case.

2021年12月9日(木) 4:40 Marcus Poehls ***@***.***>:

[2021-12-10 10:49] marcuspoehls commented on #40
@CoffeeFlux Would you like to submit a pull request?

[2021-12-10 15:44] CoffeeFlux commented on #40
I'm happy to submit one if you'd prefer - I'll get something up later today.

2021年12月10日(金) 5:49 Marcus Poehls ***@***.***>:

[2021-12-10 19:04] marcuspoehls commented on #40
Thank you!

[2021-12-14 08:49] #40 closed

[2022-02-02 09:57] FezVrasta opened #42 "Know the index, or id, of the executor?"
I'm running the following code where my functions need to pick a web worker from a list in order to run.

[code]

Right now I can't seem to find any way to know which executor is being used from the pool, may you advise?

[2022-02-02 12:01] marcuspoehls commented on #42
@FezVrasta Hey Federico, the promise pool provides the current item index as the second argument in the `process` method:

[code]

[2022-02-02 12:47] FezVrasta commented on #42
Thanks Marcus, but that's the index on the original users array, I'm looking for the id or index of the "worker" that is processing the data.

So, let's say the concurrency limit it set to 4, I need to know in which of the 4 available "slots" is the logic behind executed.

[2022-02-02 12:51] marcuspoehls commented on #42
The package doesn't expose any "worker" information to you. All concurrency "slots" run in parallel. There’s no "worker". Under the hood, this package uses promises to wrap the processing. The "worker" is basically just a promise. Promises are eager and start their execution as soon as you create them. Then the promise pool retrieves the value from the promise which is either resolved or rejected.

[2022-02-02 12:52] FezVrasta commented on #42
I understand, but the whole point of the library is to limit the number of promises being evaluated at the same time, right?

I then need to know, of the allocated "threads", which one is being used by a given process execution.

I'm not sure if I'm being clear, I'm sorry.

[2022-02-02 12:56] marcuspoehls commented on #42
Yep, this package limits the number of promises being handled concurrently.

Can you describe your use case? I’m not sure if I understand what you’re looking for

[2022-02-02 12:58] FezVrasta commented on #42
It's what I explained in the original post, I have a pre-allocated number of web workers and I want each thread to use one of them.

Without the information I'm looking for I need to implement a separate idle/busy state management for my workers list and have each process execution pick one of the available ones. If instead I had this information, each process execution would already know which wo

[2022-02-02 13:01] FezVrasta commented on #42
I think what you call them in the source code is tasks, I need the task index.

[2022-02-03 08:32] marcuspoehls commented on #42
@FezVrasta Hey Federico, I got sidetracked yesterday. Thank you for your patience!

I feel like the promise pool may not be the right tool for you. The promise pool is like Array.map with concurrency. It runs a list of items in parallel through a processing function.

I’m not sure your proposed change is helping in your situation. The return value of `this.tasks().length` is the number of currentl

[2022-02-03 09:15] FezVrasta commented on #42
Yes my example doesn't work, but you could return the indexOf the task

[2022-02-03 12:30] FezVrasta commented on #42
To add more context, I found this library that goes one step further: https://www.npmjs.com/package/tiny-promise-pool

Its result exposes the thread that has been allocated to run the promise, but, unfortunately, doesn't expose that information to the promise execution.

[2022-02-03 12:47] marcuspoehls commented on #42
Ok, looks like I’m missing something here 😃

Let me describe what I understand:

- you want to run an async function
- the async function should run on a worker thread
- you’re managing the worker thread yourself
- to increase concurrency you’re introducing multiple worker threads
- this promise pool package should help you distribute the items you’re processing onto worker threads

If I’m underst

[2022-02-03 12:51] FezVrasta commented on #42
Yes correct

[2022-02-03 12:58] marcuspoehls commented on #42
Ok 👍 I’ll think this through and how to implement it.

[2022-04-17 02:59] WillianAgostini opened #43 "Progress for Started and Finished Tasks"
Hi,

We need a callback to see how many promises are fulfilled, useful for making progress bars and see what task has finished.
Relationed to issue #33 and PR #34 that wasn't completed.

I see 2 callback:

**onTaskStarted(item, percentage, activeTasks, finishedTasks)**
* item: item has started
* percentage: progress of items that has started
* activeTasks: array of running tasks
* finishedTasks: a

[2022-04-18 14:03] WillianAgostini commented on #43
Hi @marcuspoehls,

Ok, I created a PR #44.

[2022-04-29 03:46] marcuspoehls commented on #43
@WillianAgostini Hey Willian, thank you for your patience 👍 I’m back from vacation and will look through your merge request today.

[2022-04-29 03:58] marcuspoehls commented on #43
Hey Willian, your pull request looks good! Thank you for submitting it.

I’ll apply some minor changes myself (without asking you to provide the changes):
- allow multiple event handlers for `onTaskStarted` and `onTaskFinished`
- refine the event callbacks and probably provide a `statistics` argument. This removes a long list of arguments to a function and we can extend the statistics when needed

[2022-05-20 08:39] #43 closed

[2022-05-20 11:17] marcuspoehls commented on #43
@WillianAgostini Hey Willian, thank you for your patience! I’ve published a new release to NPM. Version `2.2.0` is available including the two new `onTaskStarted` and `onTaskFinished` methods. Thank you again for your contribution!

[2022-05-20 11:34] marcuspoehls commented on #43
I’ve added sections in the docs for both methods:

- [`onTaskStarted`](https://superchargejs.com/docs/2.x/promise-pool#run-callbacks-when-a-task-starts)
- [`onTaskFinished`](http://localhost:3000/docs/2.x/promise-pool#run-callbacks-when-a-task-finished)

[2022-06-05 18:30] sinasalek opened #46 "Dynamically change the concurrency"
Hi,
Is it possible to change the concurrency while it's running? the usage is for warming up purpose in the cloud. So it can start with 2 and go up after each x task to the maximum rather than just jumping to max number right away

[2022-06-05 21:05] marcuspoehls commented on #46
Hey,

it's currently not possible to adjust the pool size of a running/exiating promise pool.

I feel like it could be possible to make the concurrency adjustable.

In your use case, are you reusing a promise pool instance during the warmings? Or do you create a new instance when running the warming?

[2022-06-08 09:15] sinasalek commented on #46
No there is only on promise pool in my case. it is possible to add a wrapper function and start with lower number of concurrency for x number of tasks and then switch to a higher number but it won't actually be dynamic but I would be a very rigid code. Is there a callback when the promise-pools start grabbing a new task? maybe I can leverage that pause that when the number of tasks reaches certain

[2022-06-08 11:50] marcuspoehls commented on #46
@sinasalek Hey Sina, I’ve added the functionality to change the concurrency for a running pool. This change is part of the `2.3.0` release.

Here’s how you use it:

[code]

[2022-06-08 12:01] sinasalek commented on #46
Oh that's great thank you. I'll give it a try

[2022-06-08 12:40] sethtomy opened #47 "Reuse pool on dependent promises."
I'm using @supercharge/promise-pool to limit concurrency in my application. I'm attempting to use the same pool to kick off dependent requests but seeing more than my established concurrency going off (e.g. concurrency of 100 is kicking off 200+ requests before ultimately crashing)

My assumption here is that I can re-use the pool to limit concurrency in totality.

[code]
Am I using this incorrect

[2022-06-08 12:45] marcuspoehls commented on #46
@sinasalek Sweet! Please let me know if everything works as expected

[2022-06-08 12:54] marcuspoehls commented on #47
@sethtomy Hey, the package is currently not designed to be used for dependencies. Your example shows that you’re starting the pool instance for `roots` which will then create as many tasks as `CONCURRENCY` is defined.

Inside of the `process()` function, you should not reuse the `pool` instance to assign another array and start the processing. Calling `pool.for(childs)` will replace the `roots`:

[2022-06-08 13:04] st185227 commented on #47
@marcuspoehls this is very helpful thank you!

Is this something you'd like to see possible in the package or is the proposed solution the intentional design?

Naïvely I assumed it would work somewhat similarly to rate limiters I'd used in the past.

Would love to take a crack at implementing if interest. Great package!

[2022-06-08 13:16] marcuspoehls commented on #47
@st185227 Hey Seth, I didn’t have the use case to run dependent tasks inside of the pool.

I’m happy if you’re going to implement this functionality. I guess that makes it clear what you’re trying to solve.

Here’s how I understand how you want the promise pool to behave: you want to ensure a limit of X tasks running in parallel. The tasks can also come from items added from within the `process` f

[2022-06-08 13:19] sethtomy commented on #47
Exactly. I've used this in the past off some heuristic on client/server load to script out certain work (usually creating test data/running reports).

[2022-06-08 14:38] marcuspoehls commented on #47
@sethtomy Ok, I understand. I’m waiting for Seth (@st185227) to propose a solution/idea. You might want to approach this too :)

[2022-06-11 14:17] sethtomy commented on #47
@marcuspoehls I just realized I accidentally posted on my previous work account (not sure how that happened). They're both me :)

[2022-06-11 14:57] marcuspoehls commented on #47
@sethtomy 😄 ok, thank you for clarifying it. Then I’ll wait for your attempt and merge request 😃

[2022-06-15 14:04] sethtomy commented on #47
@marcuspoehls I looked into implementing this morning and was having a bit of trouble deciding how I wanted to represent "subtasks". Through this ended up finding [maxTotalSockets](https://nodejs.org/api/http.html#agentmaxtotalsockets) option on http/https agents. Through this I was able to completely remove ECONNABORTED errors I was seeing at larger concurrency.

I think I'll table implementation

[2022-06-15 14:30] #47 closed

[2022-06-16 08:54] marcuspoehls commented on #46
Closing the ticket here as I’m assuming everything is working fine 😃

[2022-06-16 08:54] #46 closed

[2022-06-30 20:17] pandrews-hdai opened #48 "Is it possible to timeout processing of an individual item?"
I'm using promise-pool in my application for controlling the concurrency of a file downloader to avoid triggering the request rate limitations of an upstream API, for which it's working fairly well but I'm troubleshooting a bit of an edge case and need some help from the library.

Problem I'm facing right now is that my pool sometimes develops a "clog" and I need to metaphorically drano the sucker

[2022-07-01 15:32] marcuspoehls commented on #48
@pandrews-hdai Hey, at this point it's not possible to timeout an item. Also the pool won't timeout.

I appreciate your help if you want to submit a pull request adding this feature.

I'm currently on vacation and will be for the next week. Maybe you can help yourself in the meantime. Otherwise I can look at it in two weeks.

[2022-07-01 15:51] pandrews-hdai commented on #48
@marcuspoehls Good to know.  I may have some time to tinker with it.  I assume you'd prefer to avoid introducing additional dependencies so if I do put time into a patch it should be baked in and not provided by a 3rd-party module?

[2022-07-01 15:57] marcuspoehls commented on #48
@pandrews-hdai I prefer things to be baked in. And baking in if it makes sense. For example, my guess is the timeout could be baked in. For a retry (if we add that logic as well), it makes sense to add a library. Because retry is solved already in other 3rd-party packages that are maintained and have good code 😃

[2022-07-21 16:09] tomfuertes opened #49 "`onTaskStarted` and `onTaskFinished` out of date in README"
Signature and params passed to `onTaskStarted` don't match types returned of code as far as I can tell.

Currently in src `handler(item, pool)`

Readme Docs: `handler(item, percentage, finished, active)`

[2022-07-21 18:22] marcuspoehls commented on #49
@tomfuertes Hey Tom, thank you very much for pointing this out. And also for sending along a pull request 😃 I really appreciate it!

[2022-07-21 18:22] #49 closed

[2022-07-29 02:42] marcuspoehls commented on #48
@pandrews-hdai Have you been able to tinker with the timeout implementation? Can you please share an update?

[2022-08-03 14:18] pandrews-hdai commented on #48
@marcuspoehls Unfortunately no, I'm US based so I elected to take the holiday and just haven't had the spare time to prioritize anything around this issue afterwards.  Though I'm blocked waiting for a few bits of infrastructure so I'll probably take some day-job time today.

[2022-08-04 12:46] murar8 opened #51 "Pool not terminating correcly"
First of all thank you for this great package. I noticed an issue in version 2.3.0 where if you rethrow the error in the error handler the promise chain doesn't get stopped but it gets executed to completion (this only happens when concurrency is higher than 1). Downgraded to 2.2.0 and it works perfectly. I will create a minimal reproducible example as soon as I have some free time.

[2022-08-04 19:28] murar8 commented on #51
Here you go: https://runkit.com/murar8/62ec1d2e2ece46000c646c7d

[2022-08-05 08:45] marcuspoehls commented on #51
Found the solution and published a patch release `2.3.1` to NPM 😃 Thank you for your help detecting this Lorenzo!

[2022-08-05 12:05] murar8 commented on #51
I updated the runkit example to 2.3.1 but it looks like the issue is still present?

[2022-08-05 12:45] marcuspoehls commented on #51
I can reproduce the issue for an async function that doesn’t await an operation … I’ll look into this.

[2022-08-05 13:08] murar8 commented on #51
Ok thanks

[2022-08-05 13:22] #51 closed

[2022-08-05 13:25] marcuspoehls commented on #51
Found the issue (hopefully 🤞😄). Going to publish another patch release

[2022-08-05 13:29] marcuspoehls commented on #51
Version `2.3.2` is now available on NPM

[2022-08-05 15:48] murar8 commented on #51
Looks like everything is fine now, thank you.

[2022-08-10 10:06] bboydflo opened #52 "question: is this similar to async queue?"
Hey, nice lib! After I read a bit on the docs I like the api, but to me it seems like the internals could be just a wrapper around this https://caolan.github.io/async/v3/docs.html#queue? I just wanted to mention this since the above package seems like it's very well maintained, has good typescript support and is battle tested (approx 48 million weekly downloads).

Again, just wanted to give you a

[2022-08-10 11:55] marcuspoehls commented on #52
Hey Florin,

this library is similar to async’s queue, like both are processing items concurrently. While using the promise pool, you’re initializing it for a list of items and start processing immediately after using the `.process` method. The async queue requires you to set up callbacks for each situation (process, error, drained) and separately pushing items to the queue. The async queue is bas

[2022-08-10 11:55] #52 closed

[2022-08-12 13:19] alacret opened #53 "Question about the pool"
Does the pool runs every time the max concurrency? Or does it work in batches?

For example, given 10 elements with a concurrency set of 2:

a. Does it does 5 iterations using 2 elements at the time? or
b. As soon as 1 promise gets resolved, immediately starts another until it reaches 2 active promises?

[2022-08-13 08:05] marcuspoehls commented on #53
@alacret Hey Angel, it's B. The pool runs at max concurrency all the time. The next promise starts processing as soon as a an active promise finishes (resolves/rejects).

[2022-08-14 13:49] #53 closed

[2022-08-15 15:33] pandrews-hdai commented on #48
@marcuspoehls I've built a working timeout in my own code and have been trying to patch it into your code for the pool as well but the test isn't working correctly yet despite working during run-time testing my application with the local build of the promise-pool with the timeout feature.

[2022-08-19 02:46] alacret opened #55 "PromisePoolError: Operation timeout"
Getting error in very long running tasks

[2022-08-19 03:42] marcuspoehls commented on #55
@alacret Hey Angel, can you please share more details? Is that timeout coming from another resource and not from the promise pool?

[2022-08-19 11:54] alacret commented on #55
@marcuspoehls I made a mistake copying the error name, I updated the title of the Issue. this is the trace:

<img width="1728" alt="Screen Shot 2022-08-19 at 7 54 46 AM" src="https://user-images.githubusercontent.com/918895/185613061-cd6139c9-e0c2-441d-ab1e-a8e009a09bca.png">

[code]

[2022-08-19 12:43] marcuspoehls commented on #55
Thank you for sharing the details. The actual error is a `ConnectionAcquireTimeoutError` coming from Sequelize. The promise pool wraps the original error using a `PromisePoolError` instance. The original error is available on the promise pool error using the `error.raw` property.

[2022-08-19 13:32] alacret commented on #55
@marcuspoehls thanks!

[2022-08-19 13:46] #55 closed

[2022-08-19 17:25] tylercollier commented on #26
Great library! I like the API, except for this behavior. I find it confusing. It cost me an hour yesterday. To me it violates the principle of least surprise. I expected the behavior to be like `Promise.all()`, putting the results in the same indexes as the inputs. As it stands, I'm not sure how useful the `results` are from this example from the README:

[code]

To link up the inputs and results,

[2022-08-20 07:41] marcuspoehls commented on #26
@tylercollier Thanks for sharing your thoughts. I'm still open to a merge request if you want to prepare one. I was thinking about the ordering issue and we might easily get it into the package: when adding a task result to the results array, I'm currently pushing the result to the end of the list. What we should do instead is splicing the result at the array position of the related item.

[2022-08-20 21:31] tylercollier commented on #26
I was going to take a crack at this. But it says you self assigned it?

[2022-08-23 21:07] tylercollier commented on #26
Just a head's up that I submitted a PR for this

[2022-08-24 06:56] marcuspoehls commented on #26
@tylercollier Hey Tyler, thank you for the pull request and following up. I’ll look through the PR today

[2022-09-19 18:29] Thore1954 opened #60 "skip a task from including in result"
Basically I want to do filtering on my original list based on the result of async operations. I tried returning `undefined` from the `process` callback but it just fills the resulting array with `undefined`s. Is there a way to skip including a value in the resulting array like `pMapSkip` from sindresorhus/p-map#39?

[2022-09-20 01:26] tylercollier commented on #60
Is filtering the end result of `undefined`'s not a valid solution? Or how about returning a known [`Symbol`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol). The symbol could be e.g. `Symbol('skipped')`, and then you could filter those out of the result.

@marcuspoehls can correct me if I'm wrong but I think you could just throw an error to skip it. It woul

[2022-09-20 05:59] Thore1954 commented on #60
Of course you eventually need to filter the end result or the errors. I just thought it was already built in. Closing this.

[2022-09-20 05:59] #60 closed

[2022-10-04 00:50] HereFrank opened #61 "How to retry a fixed number of times a failed promise?"
I have a promise pool like these...
[code]

Being `metaplexFile` an array of `Files[]` that when passed through the promise `metaplex.storage().upload(metaplexFile)` generates a link...

Now...
Sometimes these process fail, and the link is not generated
And I just want **to retry at least 5 times that promises that fail** any help?

I have read the [error handling documentation](https://supercharg

[2022-10-05 05:28] mafiosnik777 opened #62 ".withConcurrency(1) still processes multiple items in the array at once"
[code]

It seems that it's not possible to process items one by one. They still execute in parallel with at least 2 concurrent processes.
I guess the library was only designed for concurrency and it's not the usecase it was designed for?

Would it be possible to implement this?
I would love to use this library, as I prefer the syntax and features over other alternatives.

[2022-10-05 06:54] marcuspoehls commented on #62
@mafiosnik777 Hey, it should be possible to process items sequentially in a promise pool using a concurrency of 1. I’ll double check the implementation to see what happens.

Something coming to my eye in your sample code is the order in which you’re chaining. That should not be an issue, but there might be an uncaught bug in the code.

I’m typically chaining with items first and then add the concu

[2022-10-05 07:02] marcuspoehls commented on #62
I added a test using a concurrency of 1 and the pool processes sequentially as expected https://github.com/supercharge/promise-pool/commit/cec572d7e1106f29b6096c1c1a275942de8be7f5

@mafiosnik777 It seems like you’re using this library in the frontend. Your sample code hints a click listener on a button. Is it possible you’re having more than one click listeners calling the `processQueue` method?

[2022-10-05 07:09] mafiosnik777 commented on #62
I just sanity checked with another library and I get the same result.

There is only one click listener on the `processQueue` method. So there seems to be something wrong with my `Interpolation.process()` function, as it probably returns a finished state, even though it is in fact still incomplete and running.

Not an issue with `promise-pool`.
Thanks for your help!

[2022-10-05 07:09] #62 closed

[2022-10-05 07:10] marcuspoehls commented on #62
You’re welcome!

[2022-10-05 07:20] marcuspoehls commented on #61
@HereFrank Hey Frank, this package doesn’t come with retry logic. You must manually implement it. You could use a retry package from NPM, like this one: https://github.com/sindresorhus/p-retry

Inside the `process` function, you’re wrapping your calls that should be retried inside the retry function.

[code]

[2022-10-05 12:20] HereFrank commented on #61
Awesome!!
Thanks!!

[2022-10-05 12:20] #61 closed

[2022-10-09 07:06] mafiosnik777 opened #63 "pool.stop() only stops after processing 1 additional item"
I have a series of long running tasks that get queued up by promise-pool. When I fire `return pool.stop()` `StopThePromisePoolError();` in `promise-pool-executor.js` gets thrown but it only stops after processing 1 additional item.

To illustrate for replication:

![illustration](https://mafiosnik.needsmental.help/EGhM14k1MC.png?key=9zkaJC4w7XY2fo)

This is a fatal flaw on longer running processes

[2022-10-09 10:43] marcuspoehls commented on #63
@mafiosnik777 Hey, thanks for reporting this! I’ll have a look at this tomorrow. I appreciate any help from your side, in case you want to submit a pull request. Something that would be nice is a failing test case which helps me to find this issue quickly. You can provide a failing test in a pull request or as a code snippet here. Thanks for your help! 😃

[2022-10-09 14:00] mafiosnik777 commented on #63
While building a failing test case I noticed the issue only happens when **promise-pool** is running in a browser environment in the renderer process. When I just call `node test.js` in a shell with the same code it stops on 0, exactly like it should. Unfortunately this is exactly the environment i need it in.

Anyways I replicated the issue in a small sandbox you could test this in:
https://codes

[2022-10-10 15:55] mafiosnik777 commented on #63
I tried around a bit further and couldn't come up with a fix. Did you already have time to check the sandbox example?

[2022-10-11 09:40] marcuspoehls commented on #63
@mafiosnik777 Hey, I was toying with the code in your shared codesandbox. But I didn’t find the issue yet. Was also looking through the code and maybe find an issue. I somehow need to create a local browser environment to reproduce the issue on my machine which should allow me to create a test case that I can work against.

[2022-10-11 10:10] mafiosnik777 commented on #63
@marcuspoehls Are you sure you couldn't replicate on your machine with the codesandbox? I can replicate this issue on literally every machine I have. Doesn't matter if Chrome on Windows or macOS Safari.

<img width="1138" alt="Bildschirm­foto 2022-10-11 um 12 06 57" src="https://user-images.githubusercontent.com/108760201/195063000-14c3dfec-1690-4aa5-b238-de5ba0ca94fc.png">

[2022-10-11 10:16] marcuspoehls commented on #63
@mafiosnik777 I can replicate it in the browser. The codesandbox is fine. But I can’t replicate it locally in Node.js. I want to add a test case reproducing this behavior to update/change the code.

[2022-10-11 10:25] mafiosnik777 commented on #63
@marcuspoehls Ah, my bad, i misunderstood then.

Like I already said this only happens in a browser environment. I couldn't replicate it in Node.js as well. It worked as expected in a non-browser environment, which is very weird.

[2022-10-21 03:48] marcuspoehls commented on #48
@charlesmudy I’ll have a look at this in the afternoon.

This timeout feature ensures that the Promise for a task (task = running the process function for an item) is limited to the given timeout. The processing must finish within the time of the configured timeout. Otherwise the pool errors out for the item.

[2022-10-21 03:50] charlesmudy commented on #48
Thanks for the clarification. Looking forward @marcuspoehls

[2022-10-21 13:55] charlesmudy opened #64 "How to pass errors"
Hi,

Following your example:

`
const { results, errors } = await PromisePool
							.for(items)
							.withConcurrency(50)
							.process(async (item, index, pool) => {
								var finalised;
								if (channel === channelTypes.SMS) {
									finalised = await import_b(item, lists, user_id, validate, channel);
								} else {
									finalised = await import_a(item, lists, user_id, validate

[2022-10-21 14:48] #64 closed

[2022-10-24 22:27] willcodeforfood opened #65 "Feature request: Add additional items onto already-running PromisePool instance?"
Not an issue per se: more a question of "is this even possible".

The exact usecase I have is recursively crawling a directory structure via a REST API. I can only query 1 folder's contents per API call, plus it's paginated. So it requires lots of slow API calls which could be run in parallel.

Right now, I pass PromisePool a list of top-level folder IDs, then it will scan each one in parallel and

[2022-10-24 22:38] tylercollier commented on #65
I'll let the library author answer whether it is/could be possible.

To solve your situation now, can you use a while loop?

[code]

[2022-10-26 13:42] marcuspoehls commented on #65
@willcodeforfood Hey Eric, as you have already noticed: there’s currently no way to add additional items to an active promise pool.

I can see your use case. At this point, you would need to create a new pool instance for all (nested) directories to request their contents concurrently.

I’m open to a pull request if you want to look into it.

@tylercollier
PS: Thank you Tyler for your quick reply!

[2022-11-10 17:30] #65 closed

[2022-11-24 04:14] marcuspoehls commented on #63
@mafiosnik777 Hey, did you find a solution for the "+1" issue? I haven’t checked it further on my side. Maybe we can get a fix into the package to make it work properly for browser usage.

[2022-11-27 01:57] mafiosnik777 commented on #63
Unfortunately, I didn't. I just stuck to using a messy workaround now.